<launch>
    <!-- Запуск драйвера и ROS-обёртки (готовый launch из подмодуля) -->
    <include file="$(find youbot_driver_ros_interface)/launch/youbot_driver.launch"/>

    <!-- Запуск нашего управляющего узла -->
    <node name="youbot_controller" pkg="youbot_controller" type="youbot_controller.py" output="screen"/>
</launch>